@import "tailwindcss";

@theme {
  --color-accent: #00ff88; /* 极客绿 */
  --font-sans: "Geist", "Inter", sans-serif;
  --font-mono: "Geist Mono", "JetBrains Mono", monospace;
}

:root {
  background-color: #050505;
  color: #fafafa;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* 隐藏滚动条但保留功能 */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #050505;
}
::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-accent);
}
